%h1 #{@question.title}
=form_tag(question_responses_path(@question,@response), :method => "post") do
	-@question.answers.each do |answer|
		=label_tag :answer_id, answer.value
		=radio_button_tag :answer_id, answer.id
	=button_tag "Select", :class => "btn btn-success"

=generate_route_for_question
