%h1 #{@poll.name}

%ol
	- @questions.each do |question|
		%li 
			question.title
			- question.answers.each do |answer|
				= render '/responses/form', :locals => {:question => question, :answer => answer}
					



